body {
  margin: 0;
  font-family: Arial;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: rgb(192, 187, 187);
}

nav {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  width: 100%;
  height: 50px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.top {
  align-content: space-evenly;
}

.description {
  width: 100%;
  height: auto;
}

h3 {
  display: flex;
  justify-content: center;
}

.boardName {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
}

h5 {
  justify-self: center;
}

.gameBoards {
  display: flex;
  flex-wrap: wrap;
  gap: 150px;
}

.board {
  display: flex;
  flex-wrap: wrap;
}
#playerBoard {
  width: 200px;
  height: 200px;
  background-color: bisque;
}

#computerBoard {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
}

.mini-block {
  width: 20px;
  height: 20px;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid black; */
}
/*
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: space-evenly;
  width: 560px;
  height: 560px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  margin: 5px;
  border: 1px solid black;
}
*/

.gamePieces {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 590px;
  height: 100px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 30px;
}

#carrier {
  background-color: #b36f2b;
}

.carrier-preview {
  width: 100px;
  height: 20px; /* this part can use JS, so we can relate it to the width value that we defined globally */
  justify-content: center;
  align-items: center;
}

#battleship {
  background-color: #5b8a3f;
}

.battleship-preview {
  width: 80px;
  height: 20px;
}

#cruiser {
  background-color: #325685;
}

.cruiser-preview {
  width: 60px;
  height: 20px;
}

#submarine {
  background-color: #d1d143;
}

.submarine-preview {
  width: 60px;
  height: 20px;
}

#destroyer {
  background-color: #99518f;
}

.destroyer-preview {
  width: 40px;
  height: 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 200px;
  margin: 50px;
}
